<template>
    <v-app id="inspire">
    <v-navigation-drawer
        fixed
        v-model="drawer"
        app
    >
        <v-list dense>
        <v-list-tile @click="onMenuClick">
            <v-list-tile-action>
            <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="onMenuClick">
            <v-list-tile-action>
            <v-icon>contact_mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
            <v-list-tile-title>Contact</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Bandwidth App</v-toolbar-title>
    </v-toolbar>
    <v-content>
        <v-container fluid fill-height>
        <v-layout
            justify-center
            align-center
        >
            <v-flex text-xs-center>
                <v-text-field type="number" label="cell size (px)" :value="tilesize"></v-text-field>
                <MatrixViz :instanceText="matrixVizData" @update="onMatrixUpdate" @click="onClick" />
                <!-- <v-text-field label="vertex ordering" :value="orderText"></v-text-field>
                <v-button @click="update"></v-button> -->
                {{ orderText }}
            </v-flex>
        </v-layout>
        </v-container>
    </v-content>
    </v-app>
</template>
<script>
    // load vue and vuetify
    import Vue from "vue"
    import Vuetify from 'vuetify'
    import MatrixViz from 'vue-matrix-viz'
    import stringify from 'json-stringify-pretty-compact'
    Vue.use(Vuetify)

    // load styles
    import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss'
    import '../node_modules/vuetify/dist/vuetify.min.css'

    import { testInstance } from './testinstance'

    export default {
        components: { MatrixViz },
        data() {
          return {
              "tilesize": 25,
              "inst": testInstance,
              "order": []
          }
        },
        computed: {
            matrix: function() {
                let lines = this.inst.split("\n")
                let header = lines[0].split(" ")
                if ( this.order.length === 0 ) {
                    this.setInst(this.inst)
                }
                let x = this.order
                let r = {}
                for ( let e of x ) {
                    r[e] = []
                }
                for ( let i = 1 ; i < lines.length ; i++ ) {
                    let l = (lines[i].split(" ")).filter( e => e !== "" )
                    if ( l.length == 2 ) {
                        r[l[0]].push(l[1])
                        r[l[1]].push(l[0])
                    }
                }
                return { 'x': x, 'y': x, 'r': r }
            },
            orderText: {
                get: function() {
                    return this.order.join(" ")
                },
                set: function(newVal) {
                    console.log(newVal)
                    this.order = newVal.split(" ")
                }
            },
            matrixVizData: {
                get: function() {
                    let widths = {}
                    for ( let e in this.matrix['x'] ) {
                        widths[e] = this.tilesize
                    }
                    return stringify({
                        props: this.matrix,
                        x_width: widths,
                        x_title_height: this.tilesize,
                        y_height: widths,
                        y_title_width: this.tilesize,
                        separator: 1,
                        color_empty: "#ccc",
                        color_full: "#444",
                        x_title_color: "#aea",
                        x_title_textcolor: "#555",
                        y_title_color: "#eaa",
                        y_title_textcolor: "#555",
                        tile_colors: {},
                        symmetric: true,
                        editable: false,
                    })
                },
                set: function(newValue) {
                    this.order = newValue.props.x
                }
            }
        },
        mounted() {
        },
        methods: {
            onMenuClick() {},
            onMatrixUpdate(newValue) { // updates instance
                this.matrixVizData = JSON.parse(newValue)
            },
            onClick(ev) {
            },
            setInst(inst) {
                let lines = this.inst.split("\n")
                let header = lines[0].split(" ")
                let x = [...Array(Number(header[0])).keys()].map( e => String(e) )
                this.order = x
            }

        },
    }
</script>
<style lang="scss">

</style>
